/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--main-bg-color);
  background-image: var(--main-bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--main-text-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  padding: 20px;
  min-height: 100vh;
}

.rec {
  position: absolute;
  text-transform: uppercase;
  color: var(--accent-color);
  right: 40px;
  top: 22px;
}

.rec::after {
  display: inline-block;
  position: relative;
  left: 10px;
  top: -2px;
  content: "";
  width: 9px;
  height: 9px;
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 10px 5px var(--accent-color);
}

.decorated-zone::after,
.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::after {
  border-left: 1px solid var(--angle-color);
  border-bottom: 1px solid var(--angle-color);
  left: 20px;
  bottom: 20px;
}

.decorated-zone::before {
  border-right: 1px solid var(--angle-color);
  border-top: 1px solid var(--angle-color);
  right: 20px;
  top: 20px;
}

.header__theme-menu {
  place-self: start center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--button-color);
  text-align: center;
  text-transform: lowercase;
  padding: 1.5px 13px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--button-color-activ);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color-focus);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--main-text-color);
}

.title {
  position: relative;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-size: clamp(7.5rem, 0.75rem + 14.0625vw, 9.75rem);
  font-weight: 700;
  line-height: 82.5%;
  place-self: center start;
  left: -20px;
}

.text-shadow {
  text-shadow: 2px 2px 0px var(--accent-color);
}

.description {
  display: flex;
  width: clamp(355px, 50%, 491px);
  justify-self: end;
  margin: auto 0;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-decor-color);
  font-weight: 700;
}

.subtitle-decor {
  font-weight: 400;
  background-color: var(--accent-color);
  color: var(--title-decor-color);
  margin-block-start: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 60px;
  padding-inline: 20px;
  gap: 80px;
}

.text-link {
  text-decoration: none;
}

.text-link:hover {
  border-block-end: 1px solid var(--main-text-color);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.main__section {
  display: grid;
  gap: 20px;
}

.main__section:first-child {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
}

.main__section:nth-child(3) {
  grid-template-columns: 1fr 2fr;
}

.main__section:first-child .main__section-title {
  grid-row: span 2;
}

.main__section:nth-child(2) {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.main__section:nth-child(2) .main__section-title {
  grid-column: span 3;
  width: 30%;
}

.main__section-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__section:last-child {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "title title title"
    "sunset sunset ice"
    "tape books ice"
    "tape street street";
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-ice {
  grid-area: ice;
}

.image-tape {
  grid-area: tape;
}

.image-books {
  grid-area: books;
}

.image-street {
  grid-area: street;
}

.image-sunset {
  grid-area: sunset;
}

.main__section:last-child .title-decor {
  grid-area: title;
}

.main__section-title {
  font-size: 18px;
  color: var(--section-title-text-color);
  font-weight: 700;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.footer__text {
  color: var(--title-color);
  font-size: clamp(7.5rem, 0.75rem + 14.0625vw, 9.75rem);
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
}

@media (width <= 768px) {
  .header__theme-menu {
    place-self: center end;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .main__section:nth-child(2) {
    grid-template-columns: 1fr;
  }

  .main__section:nth-child(2) .main__section-title {
    grid-column: span 1;
  }
  .footer__text {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (width <= 720px) {
  .header {
    padding: 10px;
  }

  .rec {
    right: 30px;
    top: 12px;
  }

  .decorated-zone::after {
    left: 10px;
    bottom: 10px;
  }

  .decorated-zone::before {
    right: 10px;
    top: 10px;
  }

  .title {
    left: 0;
  }

  .main {
    padding-block: 40px;
    padding-inline: 10px;
    gap: 50px;
  }

  .main__section:nth-child(2) {
    width: 100%;
  }

  .main__section:first-child,
  .main__section:nth-child(3) {
    grid-template-columns: 1fr;
  }

  .main__section:nth-child(2) .main__section-title {
    width: 100%;
  }

  .main__section:last-child {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
